.jumbotron
  .container
    h2 Please sign in
    if hasMessage
      .alert.alert-danger(role="alert") #{message}
    form.login-form
      .form-group
        label(for="username") Username
        input.form-control(type="text" name="username")
      .form-group
        label(for="password") Password
        input.form-control(type="password" name="password")
      button.btn.btn-default(type="submit") Log in
