div.jumbotron
  div.container
    br
    h5 (<a href="/">Return home</a>)
    h2 Overview for #{name} 
    h4 (ALL SEASONS TOTAL: {{parseSeconds totalTime}})

    table.table.table-striped
      thead(style="font-weight: bold;")
        tr
          td Name
          td Season Total
          td Status
          td History
          td Sign out/in
          if admin
            td Delete
      tbody
        +status

    if admin
      +insertLog

div.container
  if nonZero numLogs
    h3 Showing{{#if plural numLogs}} all{{/if}} #{numLogs} log{{addS numLogs}} for #{name}
    table.table.table-hover
      thead(style="font-weight: bold;")
        tr
          td Date
          td Sign-in time
          td Sign-out time
          td Time
          if admin
            td Delete
      tbody
        each logs
          +log
  else
    h3 There are no logs to show...
